body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 60px;
    background: #5199d86f;
    padding: 20px;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: #0c387b;
}

.home {
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    text-align: center; 
    color: #0c387b;
}

.start-btn {
    padding: 10px 25px;
    background: #5199d86f;
    color: #0c387b;
    text-decoration: none;
    border-radius: 5px;
    display: block;        
    margin: 10px auto;    
    border: none;
    cursor: pointer;
}

.start-btn:hover {
    background: #29518eb4;
}

.home img {
    display: block;      
    margin: 20px auto;   
    max-width: 200px;    
    width: 80%;          
    height: auto;       
}