body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f5f7fa;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 60px;
    background: #5199d86f;
    padding: 20px;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: #0c387b;
}

.tasks {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
    color: #0c387b;
}

.tasks input {
    width: 90%;
    max-width: 300px;
    padding: 12px;
    margin: 10px auto;
    display: block;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #0c387b;
}

.tasks input:focus {
    border-color: #5199d8;
    box-shadow: 0 0 5px #5199d8;
}

.tasks button {
    padding: 10px 25px;
    background: #5199d86f;
    color: #0c387b;
    border-radius: 12px;
    display: block;
    margin: 10px auto;
    border: none;
}

.tasks button:hover {
    background: #29518eb4;
}

.task-card {
    margin: 10px 0;
    padding: 12px 15px;
    border-radius: 12px;
    font-weight: 500;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.task-card:hover {
    background: #29518eb4;
}

.task-card.done {
    background-color: #2ecc71;
}

.task-card.not-done {
    background-color: #ba1313;
}
